.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout.aboutUs {
    background: url(./images/about_us_page.jpg) no-repeat center;
    background-size: cover;
}

.main_second_div_body {
    display: flex;
    flex-direction: row;
}

.innerContainer1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subText1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(97, 97, 97, 1);
}

.corevalue-img {
    height: 480px;
}


/* Responsive text */

@media (max-width: 768px) {
    .subText1 {
        font-size: 1.2rem;
    }
}

.image {
    /* max-height: 485px; */
    width: 100%;
}

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/* Adjust image sizes */

.mission-curve-img {
    position: absolute;
    max-width: 180px;
    max-height: 180px;
    left: 0;
    top: 0;
    border-radius: 24px;
}

.image2 {
    max-width: 100%;
    height: auto;
}

.heading2 {
    font-size: 48px;
    font-weight: 600;
    line-height: calc(48px * 1.2);
    color: white;
    text-align: start;
}

.subText2 {
    font-size: 24px;
    font-weight: 400;
    line-height: calc(24px * 1.5);
    color: white;
}

.subContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.btn1 {
    padding: 12px 24px;
    background-color: rgba(251, 168, 25, 1);
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    border-radius: 12px;
    display: inline-block;
    width: fit-content;
    border: none;
}

.heading5 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(34, 32, 32, 1);
}

.font {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 46px;
}

.fifth_div_layout {
    position: relative;
    width: 100%;
    border-radius: 24px;
    height: auto;
    background: linear-gradient(to right, rgba(65, 142, 248, 1), rgba(1, 139, 211, 1), rgba(65, 142, 248, 1));
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Responsive Image */

.image3 {
    position: absolute;
    width: 180px;
    /* Adjusted for smaller screens */
    height: 180px;
    right: 0;
    top: 0;
    border-radius: 24px;
}


/* Responsive Content */

.main_fifth_div_body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    width: 100%;
}


/* Circles Layout */

.subContainer3 {
    display: flex;
    /*flex-wrap: wrap;
    /* Wrap for small screens 
    justify-content: space-between;*/
    gap: 48px;
}


/* Individual Circle */

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 25%;
}


/* Down Arrow */

.down {
    width: 25px;
    height: 18px;
}

.subText4 {
    font-size: 24px;
    font-weight: 400;
    line-height: calc(24px *1.5);
    color: white;
    text-align: center;
}

.journey-image {
    width: auto;
}

.key-text {
    font-size: 48px;
    color: #222020;
    font-weight: 700;
}

.forward-text {
    font-size: 30px;
    color: #616161;
    font-weight: 500;
}


/*media query start here*/

@media (max-width: 768px) {
    .fifth_div_layout {
        padding: 16px;
        flex-direction: column;
    }
    .main_fifth_div_body {
        gap: 16px;
    }
    .subContainer3 {
        flex-direction: column;
        align-items: center;
    }
    .circle {
        width: 100%;
    }
    .image3 {
        width: 120px;
        height: 120px;
    }
    .subText4 {
        font-size: 18px;
        line-height: 24px;
    }
    .key-text {
        font-size: 24px;
    }
    .forward-text {
        font-size: 18px;
    }
    .mission-curve-img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 0px;
    }
    .subText2 {
        font-size: 20px;
        text-align: left;
        line-height: 28px;
    }
    .subContainer2 {
        gap: 8px;
        margin-top: 16px;
    }
    .subText1 {
        font-size: 1.2rem;
        text-align: left;
    }
    .innerContainer1 {
        gap: 8px;
        padding-bottom: 16px;
    }
    .heading2 {
        font-size: 28px;
    }
    .circle {
        gap: 12px;
    }
    .circle img {
        height: 100px;
        width: 100px;
    }
    .circle img.down {
        width: 18px;
        height: 10px;
    }
    .subContainer3 {
        gap: 24px;
    }
}