.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout {
    background: url(./images/main_layout_image.jpeg) no-repeat center;
}

.curve {
    position: absolute;
    top: 20
}

.subText1 {
    font-size: 1rem;
    color: rgba(251, 168, 25, 1);
    background-color: rgba(255, 241, 216, 1);
    border-radius: 4rem;
}

.image3 {
    position: absolute;
    width: 180px;
    height: 180px;
    right: 10px;
    top: 0;
    right: 0;
    border-radius: 24px;
}

.input {
    padding-left: 34px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 1rem;
}

.input::placeholder {
    color: rgba(97, 97, 97, 1);
    font-size: 1.5rem;
}

.image-div {
    position: relative;
}

.toolkit-img {
    object-fit: cover;
    height: 300px;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.86) 0%, rgba(255, 255, 255, 0.59) 100%);
    /* Semi-transparent black */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.toolkit-img:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #e99300;
    z-index: 99;
}

.overlay h2 {
    font-size: 20px;
    padding-bottom: 4px;
}

.overlay p {
    font-size: 16px;
}