.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout.success {
    background: url(./images/main_layout_image.jpeg) no-repeat center;
    background-size: cover;
}

.curve {
    position: absolute;
    top: 20
}

.subText1 {
    font-size: 1rem;
    color: rgba(251, 168, 25, 1);
    background-color: rgba(255, 241, 216, 1);
    border-radius: 4rem;
}

.image {
    width: 52px;
    height: 52px;
}


/* .casestudy-container {
    margin-top: 16px;
} */

.casestudy-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 16px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-title {
    font-size: 24px;
    color: #222020 !important;
}

.card-text {
    margin-top: 4px;
}

.profile-name {
    font-size: 20px;
    color: #222020 !important;
    font-weight: 500;
}

.date-text {
    font-size: 18px;
}

.client-review-section {
    width: 100%;
    border-radius: 24px;
    padding: 64px;
    gap: 32px;
    display: flex;
    position: relative;
    flex-direction: column;
    background: linear-gradient(45deg, #418ef8, #018bd3, #418ef8);
}

.client_review_text {
    color: #fff;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 600;
}

.slider-row {
    display: flex;
    gap: 24px;
}

.client_review_text {
    color: #fff;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 600;
}

.video_detail_div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.video_detail_div_title_text {
    color: #fff;
    font-size: 32px;
    line-height: 46.24px;
    font-weight: 500;
}

.video_detail_p_tag {
    color: #fff;
    font-size: 20px;
    line-height: 28.9px;
    font-weight: 400;
}

.home-video {
    border-radius: 16px;
}


/*slider bullet point css start here*/

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: fit-content;
    left: 35% !important;
    text-align: left !important;
}

.swiper-pagination-bullet {
    background: #ddd !important;
    opacity: 100% !important;
}

.swiper-pagination-bullet-active {
    background-color: #e99300 !important;
}