.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout {
    background: url(./images/main_layout_image.jpeg) no-repeat center;
}

.curve {
    position: absolute;
    top: 20
}

.subText1 {
    font-size: 1rem;
    color: rgba(251, 168, 25, 1);
    background-color: rgba(255, 241, 216, 1);
    border-radius: 4rem;
}

.image {
    width: 52px;
    height: 52px;
}

.casestudy-container {
    margin-top: 16px;
}

.casestudy-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}