/* styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Defining a custom CSS variable for the font-family */

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    font-family: "Jost", sans-serif !important;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: "Jost", sans-serif !important;
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

p {
    margin-bottom: 0px !important;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}