

.second_div_layout{
    margin-top: 16px;
}

.second_text_div{
    padding: 24px;
}

.text{
    font-size: 20px;
    line-height: 28px;
    color: #616161;
}

.subhead{
    font-size: 32px;
    padding-bottom: 16px;
    line-height: 36px;
    font-weight: bold;
}

.submit-btn-div {
    display: flex;
}
.paymentbtn{
    justify-content: center;
}

.btnstyle {
    padding: 16px 32px;
    background-color: rgba(251, 168, 25, 1);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    width: fit-content;
}

.btnstyle:hover {
    background-color: rgba(251, 168, 25, 1);
    color: #fff;
}

.innerdiv{
    background: #2880FC;
    padding: 48px;
    border-radius: 24px;
}

.innerdiv p{
    color: white;
}

.form-floating>label {
    color: #616161;
    padding: 13px 16px;
}

.form-control.contact-textarea {
    height: 130px;
    border-radius: 12px;
    font-size: 18px;
    color: #222020;
}


/* Media Query */
@media (max-width: 768px) {
    .input_div{
        margin-bottom: 16px !important;
    }
}

@media (max-width: 576px) {
    
    .second_text_div{
        padding: 0;
    }

    .innerdiv{
        padding: 24px;
    }

    .subhead{
        font-size: 24px;
    }

    .text{
        font-size: 18px;
    }
}