.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout {
    background: url(../../../app/about/images/main_layout_image.jpeg) no-repeat center;
    background-size: cover;
}

.heading {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .heading {
        font-size: 2rem;
    }
}

.subText {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.curve {
    position: absolute;
    top: 20
}

@media (max-width: 768px) {
    .subText {
        font-size: 1.2rem;
    }
}

.seventh_components {
    /* display: flex; */
    border-radius: 24px;
    padding: 62px;
    /* gap: 16px; 
    justify-content: center; */
    background: #ffffff;
}

.seventh_components_card_box {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 1px 50px 0px #0000001f;
    height: 100%;
}

.card.video-card {
    border: none;
}

.card.video-card .video-thumbnail iframe {
    border-radius: 16px;
}

.image3 {
    position: absolute;
    width: 180px;
    height: 180px;
    right: 10px;
    top: 0;
    right: 0;
    border-radius: 24px;
}

.row-gap {
    row-gap: 24px;
}