.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout {
    background: url(./images/main_layout_image.jpeg) no-repeat center;
    background-size: cover;
}

.heading {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

.subText {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.main_second_div_body {
    display: flex;
    flex-direction: row;
}

.innerContainer1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.heading1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgba(34, 32, 32, 1);
}

.subText1 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(97, 97, 97, 1);
}

.image {
    max-height: 485px;
    width: 100%;
}


/* Button Styling */

.btn {
    padding: 16px 32px;
    background-color: rgba(251, 168, 25, 1);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 12px;
    width: fit-content;
}

.btn:hover {
    background-color: rgba(251, 168, 25, 1);
    color: #fff;
}


/* Center button on small screens */

.main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row-gap {
    row-gap: 24px;
}

.form-floating>label {
    color: #616161;
    padding: 13px 16px;
}

.contact-input {
    height: 56px;
    border-radius: 12px;
    font-size: 18px;
    color: #222020;
}

.contact-input::placeholder {
    color: #616161;
}

.form-control.contact-textrea {
    height: 130px;
    border-radius: 12px;
    font-size: 18px;
    color: #222020;
}

.submit-btn-div {
    display: flex;
    justify-content: flex-end;
    padding-top: 32px;
}

.contact-div {
    position: relative;
    z-index: 99;
}

.curve-contact {
    top: 40px;
    left: 40px;
    position: absolute;
    color: transparent;
    transform: rotateY(180deg);
}


/*Responsive css start here*/

@media (max-width: 768px) {
    .heading {
        font-size: 2rem;
    }
    .heading1 {
        font-size: 2rem;
    }
    .subText {
        font-size: 1.2rem;
    }
    .subText1 {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 1.2rem;
        padding: 12px 24px;
    }
}