.main_body_div {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.first_div_layout.home {
    background: rgba(0, 0, 0, 0) url(./images/main_layout_image.jpeg) no-repeat center;
    /* linear-gradient(90deg, #E99300 , #fff) */
    background-size: cover;
}

.video-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 24px;
  }
  
  .video-home {
    position: relative;
    width: 100%;
    height:100% !important;
    border-radius: 24px;
    object-fit: cover; /* Ensures the video covers the container */
  }
  
  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #e99300, #fff0);
    /* Customize the gradient colors as per your need */
    z-index: 1; /* Ensure the gradient is on top of the video */
    border-radius: 24px;
    padding: 64px;
    display: flex;
    align-items: center;
  }
  .hero-container{
    width: 50%;
  }

.inner_div {
    position: absolute;
    padding: 72px 64px;
}

.inner_first_div {
    font-size: 64px;
    font-weight: 500;
    color: #fff;
    line-height: calc(64px * 1.2)
}

.inner_first_div_span {
    text-transform: uppercase;
    /* font-style: italic;
    color: #018bd3;
    text-decoration: underline wavy #fff; */
}

.inner_second_div_span {
    text-transform: uppercase;
    font-weight: 500;
}

.inner_second_div {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    line-height: 34.68px;
}

.client-review-section {
    width: 100%;
    border-radius: 24px;
    padding: 64px;
    gap: 32px;
    display: flex;
    position: relative;
    flex-direction: column;
    background: linear-gradient(45deg, #418ef8, #018bd3, #418ef8);
    overflow: hidden;
}
.card-title{
    margin-top: 8px;
    font-size: 24px;
}



/* second component */

.company-logo.second_div_layout {
    padding: 16px 0px 16px 64px;
}

.second_div_first_text {
    color: #000;
    font-size: 32px;
    line-height: 46.24px;
    font-weight: 500;
}

.second_div_right_div {
    display: flex;
    align-items: center;
    gap: 58px;
    width: calc(100% - 315px);
}

.slider-container {
    display: flex;
    overflow: hidden;
    background: #fff;
    width: 100%;
}

.slider-track {
    float: right;
    display: flex;
    align-items: center;
    background: #fff;
    gap: 30px;
    width: calc(150px 10 + 30px 9);
    animation: slide 10s linear infinite;
}

.slider-track img {
    background: #fff;
    height: 50px;
    width: auto;
}
.second_div_layout_row{
    display: flex;
    align-items: center;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


/* third component */

.third_div_title_text {
    color: #000;
    width: 100%;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
}

.client_review_text {
    color: #fff;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 600;
}

.video_detail_div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.video_detail_div_title_text {
    color: #fff;
    font-size: 32px;
    line-height: 46.24px;
    font-weight: 500;
}

.video_detail_p_tag {
    color: #fff;
    font-size: 20px;
    line-height: 28.9px;
    font-weight: 400;
}

.fourth_component {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 64px;
    gap: 32px;
    background: #fff;
}

.fourth_component_first_div {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.fourth_component_title_div {
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
}

.fourth_component_p_tag {
    font-weight: 400;
    font-size: 24px;
    line-height: 34.68px;
    color: #616161;
}

.fourth_component_bottom_component_gray_light {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #f9f9f9;
}

.border-bottom {
    border-bottom: 1px solid #c1c1c1;
}

.fourth_component_bottom_component_brack_div {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #fff;
}

.number_div {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #018bd3;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
}

.right_border_div {
    border-right: 1px solid #c1c1c1;
}

.card {
    border: none;
}

.text_div {
    font-weight: 500;
    font-size: 32px;
    line-height: 46.24px;
    color: #222020;
}

.fifth_component {
    background: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 62px;
    gap: 24px;
}

.fifth_component_div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fifth_component_title_div {
    color: #222020;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
}

.fifth_component_sub_title_div {
    font-weight: 400;
    font-size: 24px;
    color: #616161;
    margin-top: 8px;
}

.unselected_box {
    position: relative;
    min-height: 180px;
    /* height: 153px; */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    /* border-radius: 16px; */
    padding: 16px;
    border-width: 0.5px;
    background: #f3f3f3;
    border: 0.5px solid #dedede;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.unselected_box:hover {
    position: relative;
    height: 177px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    /* border-radius: 16px; */
    padding: 16px;
    border-width: 2.5px;
    background: #018bd3;
    border: 2.5px solid #fba819;
}

.unselected_box:hover .unselected_box_card_title {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.68px;
}

.unselected_box:hover .unselected_box_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28.9px;
    height: 73%;
    overflow: hidden;
    color: #ffffff;
}

.unselected_box_card_title {
    color: #222020;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.68px;
}

.unselected_box_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26.01px;
    height: 73%;
    overflow: hidden;
    color: #616161;
}

.selected_box_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28.9px;
    height: 73%;
    overflow: hidden;
    color: #ffffff;
}

.bottom_arrow_div {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    width: 21.48%;
    height: 42px;
    background: #fba819;
    border-top-left-radius: 99px;
}

.sixth_component {
    width: 100%;
    border-radius: 24px;
    padding: 64px;
    background: linear-gradient(45deg, #418ef8, #018bd3, #418ef8);
}

.image_div_image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 16px;
}

.right_div_sixth_component {
    padding: 24px 24px 31px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sixth_component_title_div {
    font-weight: 500;
    font-size: 24px;
    line-height: 34.68px;
    color: #fba819;
    margin-bottom: 16px;
}

.sixth_component_header_div {
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    color: #ffffff;
    margin-bottom: 12px;
}

.sixth_component_sub_header_div {
    font-weight: 500;
    font-size: 24px;
    line-height: 34.68px;
    color: #fff;
    text-transform: uppercase;
}

.sixth_component_content {
    font-size: 20px;
    margin-top: 12px;
    color: #fff;
}

.sixth_component_btn_div {
    display: flex;
    width: fit-content;
    border-radius: 12px;
    padding: 12px 32px;
    background: #fba819;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
}

.seventh_components {
    /* display: flex; */
    border-radius: 24px;
    padding: 64px;
    /* gap: 16px; 
  justify-content: center; */
    background: #ffffff;
}

.seventh_components_card_box {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 1px 50px 0px #0000001f;
    height: 100%;
}

.card.video-card .video-thumbnail iframe {
    border-radius: 16px;
    height: 260px;
}

.unselected_box:hover .growth-icon {
    filter: invert(1);
}

.slider-row {
    display: flex;
    gap: 24px;
}

.main_first_div_content {
    position: absolute;
    z-index: 1;
    padding: 72px 64px;
}

.hero-container {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.curve-image {
    position: absolute;
    rotate: -90deg;
    top: -2px;
    left: -2px;
    z-index: 1;
}

.video-iframe {
    border-radius: 12px;
    min-height: 250px;
}

.home-video {
    border-radius: 16px;
}

.bulb-image {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
}

.navigation-buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
}

.video_detail_p_tag::-webkit-scrollbar {
    display: none;
}


/* For Firefox */

.video_detail_p_tag {
    scrollbar-width: none;
}


/*slider bullet point css start here*/

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: fit-content;
    left: 35%;
    text-align: left;
}

.swiper-pagination-bullet {
    background: #ddd;
    opacity: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #e99300;
}

.client-review-curve {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.main_first_div_content {
    z-index: 1;
    padding: 72px 64px;
    position: absolute;
}
.sixth_component_btn_div a{
    color: #fff;
    text-decoration: none;
}


/* Media query start here */

@media only screen and (max-width:1400px) {
    .second_div_layout {
        padding: 16px 48px;
    }
    .inner_first_div {
        font-size: 60px;
        line-height: calc(60px * 1.2);
    }
    .second_div_first_text {
        font-size: 24px;
    }
    .client-review-section {
        padding: 48px;
        gap: 24px;
    }
    .slider-row {
        gap: 8px;
    }
    .client_review_text {
        font-size: 40px;
        line-height: calc(40px * 1.2);
    }
    .home-video {
        border-radius: 16px;
    }
    .video_detail_div_title_text {
        font-size: 24px;
        line-height: calc(24px * 1.2);
    }
    .video_detail_p_tag {
        font-size: 18px;
        line-height: calc(18px * 1.3);
    }
    .video_detail_div {
        gap: 16px;
    }
    .nav-left-btn {
        width: 48px;
    }
    .fourth_component {
        padding: 48px;
    }
    .fourth_component_title_div {
        font-size: 40px;
        line-height: calc(40px * 1.2);
    }
    .fourth_component_p_tag {
        font-size: 20px;
        line-height: calc(20px * 1.3);
    }
    .fifth_component {
        padding: 48px;
    }
    .fifth_component_title_div {
        font-size: 40px;
        line-height: calc(40px * 1.2);
    }
    .fifth_component_sub_title_div {
        font-size: 20px;
        line-height: calc(20px * 1.3);
    }
    .unselected_box_card_title {
        font-size: 22px;
        line-height: calc(22px * 1.3);
    }
    .unselected_box_text {
        font-size: 18px;
        line-height: calc(18px * 1.5);
    }
    .sixth_component {
        padding: 48px;
    }
    .sixth_component_title_div {
        font-size: 20px;
        line-height: calc(20px * 1.3);
    }
    .curve-image {
        top: 0px;
        left: 0px;
    }
    .image_div_image {
        border-radius: 16px;
    }
    .sixth_component_header_div {
        font-size: 40px;
        line-height: calc(40px * 1.2);
    }
    .seventh_components_card_box {
        padding: 16px;
    }
    .card.video-card .video-thumbnail iframe {
        height: 180px;
    }
    .card-body {
        padding: 0px;
    }
    .card-title {
        font-size: 18px;
    }
    .seventh_components {
        padding: 48px;
    }
    .text_div {
        font-size: 28px;
        line-height: calc(28px * 1.2);
    }
    .sixth_component_btn_div {
        padding: 8px 24px;
        font-size: 18px;
    }
}

@media only screen and (max-width:1366px) {
    .inner_first_div {
        font-size: 48px;
        line-height: calc(48px * 1.2);
    }
    .inner_second_div {
        font-size: 22px;
        line-height: calc(22px* 1.3);
    }
    .first_div_layout {
        height: 550px;
    }
    .number_div {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .text_div {
        font-size: 24px;
        line-height: 30px;
    }
    .fourth_component_bottom_component_brack_div {
        padding: 24px 40px;
    }
    .fourth_component_bottom_component_gray_light {
        padding: 24px 40px;
    }
    .sixth_component_sub_header_div {
        font-size: 20px;
        line-height: calc(20px * 1.5);
    }
    .card.video-card .video-thumbnail iframe {
        height: 140px;
    }
}

@media only screen and (max-width:1200px) {
    .second_div_first_text {
        font-size: 20px;
    }
    .client_review_text {
        font-size: 32px;
        line-height: calc(32px * 1.2);
    }
    .fourth_component_title_div {
        font-size: 32px;
        line-height: calc(32px * 1.2);
    }
    .fourth_component_bottom_component_gray_light {
        padding: 24px 32px;
    }
    .fourth_component_bottom_component_brack_div {
        padding: 24px 32px;
    }
    .fifth_component_title_div {
        font-size: 32px;
        line-height: calc(32px * 1.2);
    }
    .seventh_components_card_box {
        padding: 12px;
    }
    .card.video-card .video-thumbnail iframe {
        height: 110px;
    }
}

@media only screen and (max-width:991px) {
    .res-row {
        row-gap: 24px;
    }
}

@media only screen and (max-width:767px) {
    .res-row {
        row-gap: 16px;
    }
    .right_border_div {
        border-right: none;
    }
    .seventh_components_card_box {
        background: #fff;
    }
    .seventh_components {
        padding: 0px;
        background: none;
    }
    .card-body {
        padding: 12px 0px;
    }
    .inner_first_div {
        font-size: 40px;
        line-height: calc(40px * 1.2);
    }
    .hero-container {
        gap: 16px;
    }
    .slider-row {
        gap: 16px;
    }
    .navigation-buttons {
        top: -58px;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: 0px;
    }
    .card.video-card .video-thumbnail iframe {
        height: 250px;
    }
}

@media only screen and (max-width: 576px) {
    .first_div_layout {
        height: 400px;
    }
    .main_first_div_content {
        padding: 32px 32px;
    }
    .card.video-card .video-thumbnail iframe {
        height: 180px;
    }
    .inner_first_div {
        font-size: 26px;
        font-weight: 500;
        color: #fff;
        line-height: calc(26px * 1.2)
    }
    .inner_second_div {
        font-size: 16px;
        line-height: calc(16px * 1.4)
    }
    .second_div_first_text {
        color: #000;
        font-size: 20px;
        line-height: 22.24px;
        font-weight: 500;
    }
    .hero-container {
        gap: 16px;
    }
    .second_div_layout {
        display: flex;
        gap: 32px;
        border-radius: 16px;
        background: #fff;
        /* justify-content:space-between ; */
        padding: 16px;
    }
    .client-review-section {
        width: 100%;
        border-radius: 16px;
        padding: 16px;
        gap: 16px;
        display: flex;
        position: relative;
        flex-direction: column;
        background: linear-gradient(45deg, #418ef8, #018bd3, #418ef8);
    }
    .client_review_text {
        color: #fff;
        font-size: 25px;
        line-height: 30.6px;
        font-weight: 600;
        z-index: 99;
    }
    .client-review-curve {
        right: -20px;
        top: -20px;
    }
    .fifth_component_title_div {
        color: #222020;
        font-weight: 600;
        font-size: 25px;
        line-height: 30.6px;
    }
    .video_detail_div {
        gap: 16px;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: 0px !important;
    }
    .video_detail_div_title_text {
        color: #fff;
        font-size: 24px;
        line-height: 32.24px;
        font-weight: 500;
    }
    .text_div {
        color: #222020;
        font-weight: 500;
        font-size: 24px;
        line-height: 32.24px;
    }
    .navigation-buttons {
        display: none !important;
    }
    .fourth_component {
        width: 100%;
        height: fit-content;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        background: #fff;
    }
    .fourth_component_title_div {
        font-size: 25px;
        line-height: 30.6px;
        font-weight: 600;
    }
    .fourth_component_p_tag {
        font-weight: 400;
        font-size: 16px;
        line-height: 20.68px;
    }
    .fifth_component {
        background: #fff;
        border-radius: 16px;
        padding: 16px;
        gap: 16px;
    }
    .fifth_component_sub_title_div {
        font-size: 16px;
    }
    .unselected_box_text {
        font-size: 16px;
        line-height: 20px;
        min-height: 80px;
    }
    .sixth_component {
        width: 100%;
        border-radius: 16px;
        padding: 16px;
        background: linear-gradient(45deg, #418ef8, #018bd3, #418ef8);
        overflow: hidden;
    }
    .curve-image {
        left: -5px;
        top: -15px;
    }
    .fourth_component_bottom_component_gray_light {
        padding: 24px 24px;
    }
    .fourth_component_bottom_component_brack_div {
        padding: 24px 24px;
    }
    .number_div {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }
    .sixth_component_header_div {
        font-size: 32px;
        line-height: calc(32px * 1.2);
    }
    .sixth_component_title_div {
        font-size: 18px;
        line-height: calc(18px * 1.2);
        margin-bottom: 8px;
    }
    .sixth_component_sub_header_div {
        font-size: 20px;
        line-height: calc(20px * 1.5);
    }
    .right_div_sixth_component {
        gap: 16px;
        padding: 16px 16px 0px;
    }
    .sixth_component_btn_div {
        font-size: 16px;
        padding: 8px 16px;
    }
    .sixth_component_btn_div img {
        width: 32px;
        height: 32px;
    }
    .seventh_components div.row {
        row-gap: 16px;
    }
}

.container {
    display: inline-block;
    white-space: nowrap;
  }
  
  /* Word Animation */
  .text {
    display: inline;
    animation: fadeInOut 2s ease-in-out;
  }
  
  .cursor {
    display: inline;
    color: white;
    animation: blink 1s step-end infinite;
  }
  
  /* Blinking Cursor Animation */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  /* Word Fade In and Out */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  
  
@media only screen and (max-width: 320px) {}